body {
	background: url(images/hotrod.jpg) no-repeat center center fixed;
	background-size: cover;
}


#userInput {
	width: 375px;
}


.card {
	background-color: white;
	border-radius: 2%;
	border: 3px dotted;
	margin: auto;
	padding: 20px;
}

.clickedCard {
	border: 6px;
}

.navBarDD{
	float: left;
}


#cardImg {
	width: 100%;
	height: 175px;
	border-radius: 5%;
}


.headingText {
	color: white;
}

.centerItem {
	text-align: center;
}

.cardBorderWidth {
	border-width: 6px;
	color: deepskyblue;
	;
}

.cardBorderWidth dt {
	color: limegreen;
}

.grey {
	background-color: grey;
}


.navbar-toggle {
	background-color: white;
}

.navbar-toggle.collapsed:hover {
	background-color: white;
}
