body {
	background: url(images/hotrod.jpg) no-repeat center center fixed;
	background-size: cover;
}


.card {
	background-color: white;
	border-radius: 2%;
	border: 3px dotted;
	margin: auto;
	padding: 20px;
}

.clickedCard {
	border: 6px;
}

.navBarDD{
	float: left;
}

@media (min-width: 768px) {
	.navbar-left {
	    float: right !important;
	}
	.userInput {
		width: 500px !important;
	}
}

#cardImg {
	width: 100%;
	height: 175px;
	border-radius: 5%;
}


.headingText {
	color: white;
}

.centerItem {
	text-align: center;
}

.cardBorderWidth-BackgroundColorToggle {
	border-width: 6px;
	background-color: black;
	color: deepskyblue;
	;
}

.cardBorderWidth-BackgroundColorToggle dt {
	color: limegreen;
}
